<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <!-- https://cdnjs.com/libraries/twitter-bootstrap/5.0.0-beta1 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css"
    />

    <!-- Icons: https://getbootstrap.com/docs/5.0/extend/icons/ -->
    <!-- https://cdnjs.com/libraries/font-awesome -->
    <link
      rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

      <link rel="stylesheet" href="static/css/service.css">

      <link rel="icon" href="static/css/f.png">

    <title>Index</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
         <a class="navbar-brand" href="#">
         <img src="static/css/f.png" width="30" height="30" class="d-inline-block align-top" alt="">
         Airline System
         </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/pred">Predict</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <div class="container">
        <h1 id="hed">About</h1><br>
        <p id="des">
          The project aims to identify airline passenger satisfaction using machine learning techniques. The goal is to predict whether a passenger is satisfied or dissatisfied with their flying experience based on various features such as airline, flight duration, cabin class, seat comfort, inflight entertainment, and onboard service.
        </p><br>
        <p id="des">
          The dataset used in this project will be collected from various sources such as online surveys, social media platforms, and other publicly available data sources. The data will be pre-processed and cleaned to ensure its quality and eliminate any noise or missing values.Once the data is cleaned, it will be split into training and testing sets. Several machine learning models will be built and evaluated on the training data to determine the best performing model. The models to be explored include logistic regression, decision trees, random forests, and neural networks. After selecting the best performing model, it will be used to predict the satisfaction level of the passengers in the testing set. The model's performance will be evaluated based on various metrics such as accuracy, precision, recall, and F1 score.
        </p><br>
        <p id="des">
          The project's output will be a web-based application that allows airline companies to predict passenger satisfaction and identify areas of improvement. The application will provide real-time insights to the airline companies, which can be used to improve their services and enhance passenger experience.
        </p><br>
        <br><br><br>
    </div>
    <div id="conflu" class="container-fluid">

    </div><br><br><br><br><br><br><br><br>




    <footer class="footer bg-light ">
        
        <!-- Copyright -->
<br> 
        
        <div id="footer">
          © 2023 Copyright Airline Passenger Satisfaction System 
          <br>  <br>
        </div> 
        <!-- Copyright -->
      </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <!-- https://cdnjs.com/libraries/popper.js/2.5.4 -->
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js"
    ></script> -->

    <!-- More: https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
  </body>
</html>
